<div class="row-fluid">
    <h1 style="text-align: center"><strong>KARANJEET KAMBO</strong></h1>
    <div class="form-horizontal" role="form">
        <div class="form-group">
            <div class="col-sm-3"></div>
            <div class="col-sm-4">
                <label for="email" class="control-label"><strong>E-Mail</strong></label>
                <div>
                    <em>karan.1aim89@gmail.com</em>
                </div>
            </div>
            <div class="col-sm-4">
                <label for="contact" class="control-label"><strong>Contact</strong></label>
                <div>
                    <em>(+91) 9167472399</em>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <p style="text-align: center">
        Hands on experience in developer operations and automation. Interested in working on Cloud Technologies and Frameworks. Flexible in absorbing new technology & confidence in handling projects
    </p>

</div>