<div class="row-fluid">
    <h1 style="text-align: center"><strong>KARANJEET KAMBO</strong></h1>
    <div class="form-horizontal" role="form">
        <div class="form-group">
            <div class="col-sm-3"></div>
            <div class="col-sm-4">
                <label for="email" class="control-label"><strong>E-Mail</strong></label>
                <div>
                    <em>karan.1aim89@gmail.com</em>
                </div>
            </div>
            <div class="col-sm-4">
                <label for="contact" class="control-label"><strong>Contact</strong></label>
                <div>
                    <em>(+91) 9167472399</em>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <p style="text-align: center">
        Tattoos | Graffiti | Caricature | Art | Design | Logo | Portrait | PhotoShop
    </p>

    <br>
    <br>
    <br>

    <div class="img">
        <a target="_blank" href="images/Viking.jpg">
            <img src="images/Viking.jpg" alt="Viking" width="300" height="200">
        </a>
        <div class="desc">We are vikings!</div>
    </div>

    <div class="img">
        <a target="_blank" href="images/GirlFace.jpg">
            <img src="images/GirlFace.jpg" alt="Girl Face" width="300" height="200">
        </a>
        <div class="desc">Portrait and Illustration</div>
    </div>
</div>